body {
  background: linear-gradient(#eeeeee, #cccccc);
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 75vh;
}

.template-header {
  cursor: pointer;
}

.template-header::after {
  content: " #";
  opacity: 0;
}

.template-header:hover::after {
  opacity: 1;
}

/* hierarchial numbered list (1.1, 1.1.1, 1.1.1.1, etc..) */
/* wrap ol tags with a <div class="numbered-list"></div> to activate */
/* see https://stackoverflow.com/a/16270270 for more info */
.numbered-list ol {
  counter-reset: item;
}

.numbered-list ol > li:before {
  content: counters(item, ".") ". ";
}

.numbered-list li {
  display: block;
  position: relative;
}

.numbered-list li:before {
  content: counters(item, ".") " ";
  counter-increment: item;
  position: absolute;
  margin-right: 100%;
  right: 10px; /* space between number and text */
}

@media print {
  /* For Template screen, hide side nav menu on print */
  #org-template-nav { display: none !important; } 
  #org-template-content { width: 80% !important; } 
}