* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
body{
    background:linear-gradient(#eeeeee, #cccccc);
}
section{
    display:grid;
    place-items:center;
    align-content:center;
    min-height:75vh;
}
*{
    box-sizing:border-box;
}
.gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding:10px;
}
.gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
}
#iyxa{
    flex-basis:30%;
}
#idpw{
    flex-basis:70%;
}
#icxg{
    padding:30px 0px 30px 30px;
    font-size:48px;
}
#ir53k{
    padding:40px 10px 10px 10px;
    font-size:40px;
}
#i685g{
    padding:10px;
    font-size:20px;
}
#icj3s{
    color:black;
}
@media (max-width: 768px){
    .gjs-row{
        flex-wrap:wrap;
    }
}
